{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<style>
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        margin-left: 0;
        margin-right: 0;
    }
    .container-fluid, .row {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .embed-responsive {
        position: relative;
        display: block;
        width:100%;
        padding: 0;
        overflow: hidden;
        /* Définir une hauteur fixe ou relative à la hauteur de la fenêtre */
        height: 100%; /* cela définit la hauteur à 50% de la hauteur de la fenêtre d'affichage */
    }
    .embed-responsive::before {
        display: block;
        content: "";
    }
    .embed-responsive-16by9::before {
        padding-top: 56.25%;
    }
    .embed-responsive-item {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
    }

    .custom-section {
    background-color : #FFFFFF;
    color: black;
    padding: 10px; /* Augmente le padding pour un meilleur espacement */
    margin-bottom: 0; /* Espace en dessous du div */
    margin-left: auto;
    margin-right: auto ;
    }

    .custom-section-second {
    background-color: #F5FFFA; /* Gris plus foncé pour le deuxième div */
    padding-top: 15px;
    }

    .custom-section-copyrigth p {
        text-align: center;
        padding: 15px;
    }

    .custom-section-copyrigth {
        background-color:#FFFF66; /* Gris plus foncé pour le deuxième div */
    }

    .custom-section h1, .custom-section h2 {
        text-align: center; /* Centre les titres h1 et h2 */
        padding: 15px;
    }

    .custom-section p, .custom-section ul {
        text-align: left; /* Alignement du texte à gauche pour les paragraphes et listes */
        margin-left: 20px; /* Ajoute un peu de marge à gauche pour aligner le texte sous les titres */
        padding: 15px;
    }

    .custom-section ul {
        list-style-type: disc; /* Style de puce pour la liste */
        padding-left: 20px; /* Espace à gauche pour l'indentation des puces */
    }
</style>

<section id="hero">
    <div class="container-fluid">
        <div class="row">
            
            <div class="embed-responsive embed-responsive-16by9">
                
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/702467551?h=4c23bcd2ea&amp;autoplay=1&amp;loop=1&amp;background=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="">

                </iframe>
            </div>
        </div>
    </div>
</section>

<div class="custom-section">
    <h1>À propos de notre calculateur pour l'optimisation de l'énergie</h1>
    <p>Cet outil est concu pour faire les calculs nécessaires en vue d'évaluer les coûts énergétiques et proposer de solutions d'optimisation tarifaires à nos différents clients souhaitant installer des bornes de recharge.</p>
</div>

<div class="custom-section custom-section-second">
    <h1>Nos différents clients</h1>
    <p>Nous avons une clientèle assez diversifiée évoluant dans divers secteurs d'activité :</p>
    <ul>
        <li>Les villes et municipalités</li>
        <li>Les autobus</li>
        <li>Les concessionnaires</li>
        <li>Les gestionnaires immobiliers</li>
        <li>Les entreprises commerciales</li>
    </ul>
</div> 

<div class="custom-section-copyrigth">
    <p>Copyright @ 2024 Bornes Québec Tous droits réservés.</p>
</div>



{% endblock %}
